<!-- Validation failure messages -->
<% if @guest.errors.any? %>
  <% @guest.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Guest</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_guest" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
<input type="hidden" name="user_id"  value="<%= current_user.id%>">

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :title, @guest.event_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Guest
      </button>
      or
      <a href="/guests">Cancel</a>
    </form>
  </div>
</div>
